* {
    margin: 0;
    padding: 0;
    font-family: "Love Ya Like A Sister", cursive;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    color: white;
    background: #1d1b1f;
}
/*--------------------------
1. Navegacion FIja
----------------------------*/
header nav{
    top: 0;
    width: 100%;
    background: #3f3742;
    padding: 15px;
    z-index: 1000;
    position: fixed;
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: center;
}
header nav ul li a{
    color: #9295aa;
    font-size: 25px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
header nav ul li a:hover{
    color: #91578c;
    transition: 0.3s ease-in-out;
}
/*--------------------------
2. Seccion Inicio
----------------------------*/
.hero{
    height: 100vh; /* que acapare el 100% de la pantalla*/
    display: flex; /*activando el display flex*/
    flex-direction: column; /*organiza elementos en columna de arriba a abajao*/
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1d1b1f, #33262c, #553052);
}
.hero-contenido{
    max-width: 800px; /*asingna un ancho maximo*/
    text-align: center; /*centra todos los textos del contenedor*/
    margin: 0 auto;
}
.hero-titulo{
    font-size: 3rem;
    margin-bottom: 15px;
}
.hero-subtitulo{
    color: #b1e2ee;
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}
.hero-descripcion{
    margin-bottom: 15px;
    font-size: 1.1rem;
    opacity: 0.8;
}
.hero-slogan{
    font-size: 1rem;
    font-style: oblique;
    margin-bottom: 40px;
    opacity: 0.8;
}
.hero-foto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px, solid #9295aa;
    margin-bottom: 20px;
}
.hero-estadisticas{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.estadis-item{
    text-align: center;
}
.estadis-numero{
    display: block;
    font-size: 2rem;
    font-weight: 570;
    color: #b1e2ee;
    margin-bottom: 5px;
}
.estadis-nombre{
    font-size: 0.9rem;
    opacity: 0.8;
}
.hero-botones{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.btn-whatsapp, .btn-linkedin, .btn-cv{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 8px 16px;
    border-radius: 5px;
    align-items: center;
    gap: 6px;
    border: 1px solid;
}
.btn-whatsapp{
    border-color: #6e406a;
    color: white;
}
.btn-linkedin{
    border-color: #6e406a;
    color: white;
}
.btn-cv{
    border-color: #6e406a;
    color: white;
}
.hero-name{
    background: linear-gradient(135deg,#d4e9ee,#b7a8c0,#f8e2f6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.hero-name:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}
/*--------------------------
3. Sobre mi
----------------------------*/
.sobre{
    text-align: center;
}
.sobre p{
    max-width: 800px;
    line-height: 1.8;
    margin: 0 auto 15px auto;
}
.sobre h2{
    margin-top: 50px;
    margin-bottom: 20px;
    color: #9295aa;
}
/*--------------------------
3. Mis tegnologias
----------------------------*/
.tecno{
    background: #1d1b1f;
}
.tecno h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #9295aa;
}
.tecno-card{
    padding: 25px;
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.09);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
}
.tecno-card:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    background-color: #382d36;
}
.card-titulo{
    color: #b1e2ee;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}
.card-descrip{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tecno-tecnologias{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
/*--------------------------
4. Mis Proyectos
----------------------------*/
.proyectos{
    text-align: center;
}
.proyectos h2{
    margin-bottom: 25px;
    color: #9295aa;
}
.proyectos-card{
    background-color: rgb(255, 255, 255, 0.09);
    padding: 30px;
    border-radius: 15px;
    padding-bottom: 25px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-left: 4px solid #4b3649;
    margin-bottom: 25px;
    transition: 0.3s ease-in-out;
}
.proyecto-titulo{
    font-size: 20px;
    color: #b1e2ee;
    margin-bottom: 10px;
}
.proyecto-descripcion{
  font-style: oblique;
  margin-bottom: 10px;  
}
.proyectos-card:hover{
    background-color: #382d36;
    transform: scale(1.1) rotate(-1deg);
    transition: 0.3s ease-in-out;
}
/*--------------------------
5. Contactos
----------------------------*/
.contacto{
    text-align: center;
}
.contacto h2{
    margin-bottom: 25px;
    color: #9295aa;
}
.contacto form{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
}
.contacto input, textarea{
    padding: 12px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
}
.contacto button{
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #3f3742;
    color: #b1e2ee;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.contacto button:hover{
    background: #553052;
    color: white;
    transition: 0.3s ease-in-out;
    transform: scale(1.01);
}
.contacto button:active{
    background: #9295aa;
    transform: scale(0.98);
}
/*--------------------------
6. Footer
----------------------------*/
.footer{
    text-align: center;
}
.footer h2{
    margin: 25px 0;
    color: #9295aa;
}
.contacto-info{
    margin-bottom: 25px;
}
.contacto-info h3{
    color: #b1e2ee;
    margin-bottom: 15px;
    font-size: 1.1rem;
}
.contacto-social nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 12px;
    flex-wrap: wrap;
}
.contacto-social h3{
    color: #b1e2ee;
    margin-bottom: 25px;
    font-size: 1.1rem;
}
.contacto-social nav ul li a{
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid #9295aa;
    border-radius: 5px;
}
.copyright{
    margin-top: 30px;
    color: #6e406a;
    font-size: 0.9rem;
    margin-bottom: 30px;
}
/*
background-color: #676269; color: #e448a8